body {
    background: linear-gradient(135deg, #1c1c1e, #2a2a2d);
    height: 100vh;
    margin: 0;
    color: white;
    font-family: "kanit";
}

img {
    max-width: 100%;
    height: 120px;
}

.navbar {
    background-color: #2a2a2d;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar img {
    height: 20px;
    margin: 20px;
}

.nav2 a {
    color: white;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
}

.nav3 button {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-right: 30px;
    background: linear-gradient(135deg, #ff6600, #ff4500);
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.main {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    font-size: 23px; 
    text-align: center;
    flex-wrap: wrap;

}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

.logo {
    animation: float 2.5s infinite ease-in-out;
}

.flexbox {
    display: flex;
    /* margin-left: 50px; */
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flex2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    width: 200px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.2); 
    box-shadow: 0 0 0 1.5px #ff6600;
    color: rgb(230, 230, 230);
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 12px;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    
}

.box1 {
    width: 153px;
    height: 20px;
    background-color: transparent;
    transform: scale(1.05);
    border: 15px ;
    background: linear-gradient(45deg, #ff6600, #ff4500);
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    padding: 15px;
    gap:5px;
    margin: 12px;
    margin-top: 25px;
    border-radius: 500px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 0 2px #ff6600;
    backdrop-filter: blur(1.5px);
}

.box1:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.box box-icon {
    margin-top: 10px;
}

.text-bg {
    font-size: 320px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    position: absolute;
    top: 56%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: transparent;
    opacity: 20%;
    z-index: -1;
    white-space: nowrap;
    
}

.text-bg1 {
    font-size: 320px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
    position: absolute;
    top: -4%;
    left: 89%;
    transform: translate(-50%, -50%);
    color: transparent;
    opacity: 20%;
    z-index: -1;
    white-space: nowrap;
    
}

.bg {
    flex-wrap: wrap;
}